/*
 General layout
 */

html {
    height: 100%;
}

body {
    height: 100%;

    display: grid;
    grid-template:
        [row1-start] "top-nav-bar top-nav-bar" 40px [row1-end]
        [row2-start] "sim-config sim-results" auto [row2-end]
        [row3-start] "sim-config-message sim-results" 60px [row3-end]
        / 1fr 2fr;
}

#top-nav-bar {
    grid-area: top-nav-bar;
    background-color: #212529;
    color: white;
    font-size: 1.25rem;
    padding-left: 8px;
    display: flex;
    align-items: center;
}

#sim-config {
    grid-area: sim-config;
    border-right: 1px solid #212529;
}

#sim-config-message {
    grid-area: sim-config-message;
    border-top: 1px solid #212529;
    border-right: 1px solid #212529;
    padding: 8px;
}

#sim-results {
    grid-area: sim-results;
    padding: 8px;
    overflow-y: auto;
}


/*
 Simulation configuration
 */

#sim-config .codeflask {
    position: relative !important;
}

.sim-config-message-info {
    background-color: #d1e7dd;
    color: #0f5132;
}

.sim-config-message-error {
    background-color: #f8d7da;
    color: #842029;
}

/*
 Simulation results
 */

#sim-results > h1 {
    font-size: 1.5rem;
}